/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/SolParser.iml
/.idea/vcs.xml
/.idea/Solsitter.iml
/.idea/workspace.xml
/demo_results.json
